body {
    /* background-color: rgb(190, 190, 190); */
    background-color: #ddd;
}
/* #container {} */
#header {
    background-color: rgba(234,234,234,0.75);
    backdrop-filter: blur(6px);
}
.headerName:hover {
    background-color: rgb(207, 207, 207);
}
/* .login {background-color: #ccc;} */
.login:hover {
    background-color: rgb(155, 155, 155);
}
#header a {
    color: #333;
}
.content {
    background-color: rgb(234,234,234);
}
.themeSwitch {
    background: url("img/moon.svg");
}
#themeSwitchBase:hover {
    background-color: rgb(207, 207, 207);
}
#menuHamburgerBase:hover {
    background-color: rgb(207, 207, 207);
}
/* #sidebar {} */
.sidebarMenu {
    background-color: rgb(190, 190, 190);
}